iot/node-red/flows/gh-iot.json
[
  {
    "id": "1f8abdee.e6e1b2",
    "type": "tab",
    "label": "gh-flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "100858e.5f2baa7",
    "type": "http in",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "url": "/endpoint",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 280,
    "wires": [
      [
        "28cf9aa0.8729e6",
        "d022a09a.c3421",
        "6da47cbe.c56554"
      ]
    ]
  },
  {
    "id": "28cf9aa0.8729e6",
    "type": "debug",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 500,
    "wires": []
  },
  {
    "id": "de55d17.5ec943",
    "type": "http response",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 740,
    "y": 280,
    "wires": []
  },
  {
    "id": "d022a09a.c3421",
    "type": "http request",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "query",
    "url": "http://api.ambientweather.net/endpoint",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 550,
    "y": 280,
    "wires": [
      [
        "de55d17.5ec943",
        "4e2401dc.7c6b5"
      ]
    ]
  },
  {
    "id": "4e2401dc.7c6b5",
    "type": "debug",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 220,
    "wires": []
  },
  {
    "id": "6da47cbe.c56554",
    "type": "function",
    "z": "1f8abdee.e6e1b2",
    "name": "metric",
    "func": "var msg2 = {};\nvar metric = \n`\n# TYPE obff_wh31e_temp1f gauge\n# HELP obff_wh31e_temp1f Greenhouse Tempature\nobff_wh31e_temp1f  ${msg.payload.temp1f}\n\n# TYPE obff_ws2902a_tempf gauge\n# HELP obff_ws2902a_tempf Outdoor Tempature\nobff_ws2902a_tempf  ${msg.payload.tempf}\n\n# TYPE obff_ws2902a_winddir gauge\n# HELP obff_ws2902a_winddir Wind Direction\nobff_ws2902a_winddir  ${msg.payload.winddir}\n\n# TYPE obff_ws2902a_windspeedmph gauge\n# HELP obff_ws2902a_windspeedmph Windspeedmph\nobff_ws2902a_windspeedmph ${msg.payload.windspeedmph}\n\n# TYPE obff_ws2902a_battout gauge\n# HELP obff_ws2902a_battout Batteries \nobff_ws2902a_battout ${msg.payload.battout}\n\n# TYPE obff_ws2902a_humidity gauge\n# HELP obff_ws2902a_humidity Humidity\nobff_ws2902a_humidity ${msg.payload.humidity}\n\n# TYPE obff_ws2902a_hourlyrainin gauge\n# HELP obff_ws2902a_hourlyrainin Hourly Rain Inches\nobff_ws2902a_hourlyrainin ${msg.payload.hourlyrainin}\n\n# TYPE obff_ws2902a_eventrainin gauge\n# HELP obff_ws2902a_eventrainin Event Rain Inches\nobff_ws2902a_eventrainin ${msg.payload.eventrainin}\n\n# TYPE obff_ws2902a_dailyrainin gauge\n# HELP obff_ws2902a_dailyrainin Daily Rain Inches\nobff_ws2902a_dailyrainin ${msg.payload.dailyrainin}\n\n# TYPE obff_ws2902a_weeklyrainin gauge\n# HELP obff_ws2902a_weeklyrainin Weekly Rain Inches\nobff_ws2902a_weeklyrainin ${msg.payload.weeklyrainin}\n\n# TYPE obff_ws2902a_monthlyrainin gauge\n# HELP obff_ws2902a_monthlyrainin Monthly Rain Inches\nobff_ws2902a_monthlyrainin ${msg.payload.monthlyrainin}\n\n# TYPE obff_ws2902a_yearlyrainin gauge\n# HELP obff_ws2902a_yearlyrainin Yearly Rain Inches\nobff_ws2902a_yearlyrainin ${msg.payload.yearlyrainin}\n\n# TYPE obff_ws2902a_totalrainin gauge\n# HELP obff_ws2902a_totalrainin Total Rain Inches\nobff_ws2902a_totalrainin ${msg.payload.totalrainin}\n\n# TYPE obff_ws2902a_uv gauge\n# HELP obff_ws2902a_uv UV\nobff_ws2902a_uv ${msg.payload.uv}\n\n# TYPE obff_ws2902a_solarradiation gauge\n# HELP obff_ws2902a_solarradiation Solar Radiation\nobff_ws2902a_solarradiation ${msg.payload.solarradiation}\n\n# TYPE obff_wh31e_humidity1 gauge\n# HELP obff_wh31e_humidity1 Greenhouse Humidity\nobff_wh31e_humidity1  ${msg.payload.humidity1}\n\n`;\n\nmsg2.payload = Buffer.from(metric);\nmsg2.headers = {\n    Accept: \"application/json\"\n};\nmsg2.headers['Content-type'] = 'application/x-www-form-urlencoded';\n\nreturn msg2;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 360,
    "wires": [
      [
        "c2d83306.ecf8",
        "958ba878.13d7d8"
      ]
    ]
  },
  {
    "id": "5bf5e01d.ac68a",
    "type": "inject",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"PASSKEY\":\"ebb0c2fc6c61f89d877a608b45764f3f\",\"stationtype\":\"WS-1501-IP\",\"dateutc\":\"2021-03-16 04:24:21\",\"winddir\":\"152\",\"windspeedmph\":\"1.79\",\"windgustmph\":\"3.36\",\"maxdailygust\":\"6.93\",\"tempf\":\"40\",\"battout\":\"1\",\"humidity\":\"94\",\"hourlyrainin\":\"0.07\",\"eventrainin\":\"0.04\",\"dailyrainin\":\"0.01\",\"weeklyrainin\":\"0.05\",\"monthlyrainin\":\"0.73\",\"yearlyrainin\":\"0.73\",\"totalrainin\":\"0.73\",\"uv\":\"0\",\"solarradiation\":\"0.00\",\"temp1f\":\"61\",\"humidity1\":\"10\",\"batt1\":\"1\",\"batt2\":\"1\",\"batt3\":\"1\",\"batt4\":\"1\",\"batt5\":\"1\",\"batt6\":\"1\",\"batt7\":\"1\",\"batt8\":\"1\"}",
    "payloadType": "json",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "6da47cbe.c56554",
        "28cf9aa0.8729e6"
      ]
    ]
  },
  {
    "id": "c2d83306.ecf8",
    "type": "debug",
    "z": "1f8abdee.e6e1b2",
    "name": "metric out",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 420,
    "wires": []
  },
  {
    "id": "958ba878.13d7d8",
    "type": "http request",
    "z": "1f8abdee.e6e1b2",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.2.161:9091/metrics/job/sensor_reading/location/greenhouse",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 730,
    "y": 360,
    "wires": [
      [
        "dfa4db21.0b7078"
      ]
    ]
  },
  {
    "id": "dfa4db21.0b7078",
    "type": "debug",
    "z": "1f8abdee.e6e1b2",
    "name": "scraper out",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 420,
    "wires": []
  }
]